h1 {
    text-align: center;
    font-style: oblique;
    font-size: 45px;
    text-shadow: 2px 3px;
}

img {
    width:35%;
    margin-left: 1in;
    margin-right: auto;
    padding: 2%;
    
}
h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}

div{
    background-color: red;
    padding: 20px;
}

button{
    background-color: red;
    color: white;
    border-color: black;
    width: 1in;
    height: 1cm;
    border-radius: 20%;
    margin-left: 47%;

}



body{
    background-color: lightgray;
}


h3{
    padding: 1%;
}

img:nth-of-type(2n+1) { float: right; 

}

h4{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    padding-top: 10%;
}

iframe{
    padding-top: 05%;
}